.container input {
    box-shadow: none;
    padding-left: 5px;
    border: 1px solid #dadada;
}
.container input:focus {
    outline: 0;
    border-color: #aaa;
}
.container textarea {
    box-shadow: none;
    padding: 5px;
    border: 1px solid #dadada;
}
.container textarea:focus {
    outline: 0;
    border-color: #aaa;
}
.container select {
    box-shadow: none;
    padding-left: 5px;
    border: 1px solid #dadada;
}
.container select:focus {
    outline: 0;
    border-color: #aaa;
}
/* 공통 section-header */
.section-header hr {
	width: 24px;
	border: 1px solid #000;
	display: inline-block;
    margin-top: 0;
	margin-bottom: 12px;
}
.section-header h3 {
	margin: 0;
	font-size: 30px;
	color:#0d0d0d;
	font-weight: 400;
    padding-bottom: 60px;
}
.section-header > p {
    color: #000;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    padding: 0;
}
.section-header > p > i {
    color: #d22d36;
    font-style: normal;
}
/* 공통 table-wrap */
/* 공통 table-border  ,  table */
.table-wrap .table {
	margin-bottom:0;
}
.table-wrap .table-border {
	border-top:2px solid #555;
}
.table-wrap .table thead {
	background-color:#f9f9f9;
}
.table-wrap .table thead th {
	padding: 21px 0;
	border-bottom: 0;
	text-align: center;
	font-weight:400;
	color: #333;
	font-size: 15px;
	vertical-align: middle;
}
.table-wrap .table tbody tr:last-child {
	border-bottom:1px solid #ccc;
}
.table-wrap .table tbody tr td {
	font-size: 14px;
	color: #666;
    text-align: center;
	padding: 24px;
	vertical-align: middle;
	border-right:1px solid #ccc;
}
.table-wrap .table tbody tr td:last-child {
	border-right:0;
}
.table-wrap .table tbody tr td:last-child {
    text-align: left;
}
/* 공통 content-list */
.content-list > li {
	background-image:url('/assets/images/sub/r_arrow_l.png');
	background-size:5px auto;
	background-repeat:no-repeat;
	background-position:0 7px;
	padding-left:15px;
	font-size:15px;
	color:#666;
	line-height:24px;
}
/* circle-list */
.circle-list {
	padding-left:0;
}
.circle-list > li {
	position:relative;
	padding-left:20px;
	counter-increment:my-list-index;
	letter-spacing:-1px;
	font-size:14px;
	color:#666;
	line-height:20px;
}
.circle-list > li:before {
	position:absolute;
	left:0;
	top:4px;
	display:inline-block;
	margin-right:5px;
	width:14px;
	height:14px;
	border-radius:50%;
	border:1px solid #333; line-height:10px;
	content:counter(my-list-index);
	font-size:11px;
	text-align:center;
	line-height:11px;
}

/* btn-sm */
.btn-area {
	margin:30px 0 30px 0;
}
.btn-area .btn-sm {
	width:90px;
	height:30px !important;
	border-radius:0;
	font-size:14px;
	text-decoration:none;
	color:#fff;
	text-align:center;
	padding:0;
	line-height:28px !important;
}
.btn-area .btn-gray {
	background-color:#333;
}
.btn-area .btn-pink {
	background-color:#d22d36;
}
.btn-area .btn-white {
	background-color:#fff;
	border:1px solid #ccc;
	width:60px;
	color:#666 !important;
}

/* btn */
.btn-area .btn {
	width:100px;
	height:40px;
	border-radius:0;
	font-size:14px;
	text-decoration:none;
	color:#fff;
	text-align:center;
	padding:0;
	line-height:40px;
}
.btn-area .btn:hover {
	opacity:0.8;
}

/* paging */
.paging {
    text-align: center;
}
.paging .pagination {
    margin: 0;
}
.pagination li > a {
    color: #666;
    font-size: 13px;
}
.pagination li:first-child > a {
    border-radius: 0;
}
.pagination li:last-child > a {
    border-radius: 0;
}

/* search-area */
.search-area {
	position:relative;
	margin-bottom:40px;
}
.search-area .form-control {
	border-radius:0;
	height:40px;
	box-shadow:none;
	width:1101px;
	padding-right:35px;
	border-color:#ccc;
}
.search-area .form-control:hover {
	border-color:#ccc;
}
.search-area button {
	position:absolute;
	top:0;
	right:0;
	width:100px;
	height:40px;
	border-radius:0;
	border:1px solid #ccc;
	border-left:0;
	background-color:#fff;
}

/* attention */
.attention {
	font-size:15px;
	color:#666;
}
.attention:before {
	content:"※";
	padding-right:10px;
}

/* standard */
.standard {
	font-size:15px;
	color:#666;
}
.standard:before {
	content:"-";
	padding-right:5px;
}

/* standard-list */
.standard-list {
	font-size:15px;
	color:#666;
}
.standard-list > li:before {
	content:"-";
	padding-right:5px;
}

/* number-list */
.number-list {
	margin-left:14px;
	list-style:decimal;
}

/* arrow-list */
.arrow-list > li {
	display:inline;
}
.arrow-list > li:after {
	content:"⇒";
	padding:0 5px;
}
.arrow-list > li:first-child:before {
	content:"[";
}
.arrow-list > li:last-child:after {
	content:"]";
	padding:0;
}

/* dl-inline */
.inline-dl {
    display: inline-block;
	margin-bottom:0;
}
.inline-dl dt {
	display:inline-block;
	font-weight:300;
}
.inline-dl dt:after {
	content:":";
	padding:0 5px;
}
.inline-dl dd {
	display:inline;
}

/* table-align */
.table-align-left {
	text-align:left;
}
.table-align-center {
	text-align:center;
}
.table-padding {
	padding:30px 14px !important;
}
.table-wrap .table tbody tr th {
	border-right:1px solid #ccc;
	background-color:#f9f9f9;
	vertical-align:middle;
	text-align:center;
	font-size:14px;
	font-weight:400;
}
.table-wrap .table .attention {
	font-size:14px;
}
/* dott-list */
.dott-list > li {
    font-size: 15px;
    color: #666;
    line-height: 30px;
}
.dott-list > li:before {
    content: "·";
    padding-right: 5px;
}
/* subject */
.subject {
    font-size: 22px;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
}
.subject > span {
    display: inline-block;
    width: 5px;
    height: 18px;
    background-color: #ffcb05;
    border-radius: 5px;
    margin-right: 10px
}

.search-form {
    margin-top: 59px;
    float: right;
    clear: both;
}
.search-form .form-group .form-control {
    font-size: 12px;
    color: #666;
    width: 80px;
    height: 35px;
    display: inline-block;
    border-radius: 0;
    box-shadow: none;
}
.search-form > form {
    position: relative;
    width: 343px;
    height: 35px;
}
.search-form > form > .form-group > input {
    width: 190px !important;
    height: 35px;
    vertical-align: top;
}
.search-form > form > .form-group > select {
    margin-right: 9px;
}
.search-form > form > button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #fff;
    width: 65px;
    height: 35px;
    border-radius: 0;
    background-color: #555;
}
.teble-align {
    text-align: left !important;
}
.rarrow-list > li {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    padding-left: 15px;
    background-image: url(/assets/images/sub/r_arrow_l.png);
    background-repeat: no-repeat;
    background-position: 0 8px;
}
.text-color {
    color: #d22d36 !important;
    font-weight: 400;
}
